[data-elm-hot="true"] {
  height: inherit;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: monospace;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #293c4b;
  background: #222;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home {
  background: #000;
  font-size: 2em;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.home h1 {
  font-size: 1.5em;
  color: orangered;
  text-shadow: 0 0 .1em red;
}

.inscription {
  font-style: italic;
}


.victory {
  background-color: #87ceeb;
  background-image: url(../public/img/heaven.png);
  background-size: contain;
  font-size: 2em;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 .1em #000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.victory h1 {
  font-size: 2em;
  color: lightseagreen;
  font-variant: small-caps;
}

.dead {
  background: #000;
  font-size: 1.5em;
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dead h1 {
  font-size: 2em;
  color: red;
  text-transform: uppercase;
  text-shadow: 0 0 .2em orangered;
}

.hud {
  position: absolute;
  z-index: 1;
  color: #fff;
  font-size: 2em;
  padding-top: 1em;
  text-shadow: 0 0 .25em orangered;
}

.overlay {
  position: absolute;
  background-image: radial-gradient(farthest-corner, transparent, rgba(0, 0, 0, .7));
}

.victory ~ .overlay {
    display: none;
}

.debug {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
}

